@model OmPrabha.Models.Home

@{
    Layout = null;
}

<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="" content="ATFN">
    <!-- css file -->
    <link rel="stylesheet" href="/Website/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Website/css/menu.css">
    <link rel="stylesheet" href="/Website/css/fontawesome.css">
    <link rel="stylesheet" href="/Website/css/flaticon.css">
    <link rel="stylesheet" href="/Website/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="/Website/css/ud-custom-spacing.css">
    <link rel="stylesheet" href="/Website/css/style.css">
    <link rel="stylesheet" href="/Website/css/animate.css">
    <link rel="stylesheet" href="/Website/css/jquery-ui.min.css">
    <!-- Responsive stylesheet -->
    <link rel="stylesheet" href="/Website/css/responsive.css">
    <!-- Title -->
    <title>Neeraj Rai Infra Private Limited (OPC) </title>
    <link href="/Website/images/favicon_img.jpg" sizes="128x128" rel="shortcut icon" />
</head>
<body class="bgc-f7">
    <div class="wrapper ovh">
        <div class="preloader"></div>
        <div class="body_content">
            <!-- Our Compare Area -->
            <section class="our-compare pt40 pb10">
                <img src="/Website/images/icon/register-page-icon.svg" alt="" class="login-bg-icon wow fadeInLeft" data-wow-delay="300ms">
                <div class="container">
                  @using (Html.BeginForm("ForgotPassword", "Home", FormMethod.Post, new { @id = "signupForm" }))
                  {
                        <div class="row wow fadeInRight" data-wow-delay="300ms">
                            <div class="col-lg-6">
                                <div class="log-reg-form signup-modal form-style1 bgc-white p50 p30-sm default-box-shadow2 bdrs12">
                                    <div class="text-center mb40">
                                        <img class="mb25" src="/Website/images/Bhumangal.png" style="height: 100px;" alt="">
                                        @*<h2>Admin Login</h2>*@
                                      
                                        <h5>Please login to your account</h5>
                                        <p style="color:red"> @TempData["ForgotPassword"] </p>
                                    </div>
                                    <div class="mb25">
                                        <label class="form-label" for="form2Example11">Enter your login id</label>
                                        @Html.TextBoxFor(m => m.LoginId, new { @class = "form-control", @Placeholder = "Login Id", @required = "required" })
                                    </div>
                                    <div class="mb15">
                                        <label class="form-label" for="form2Example22">Enter your mobile no.</label>
                                        @Html.TextBoxFor(m => m.MobileNo, new { @class = "form-control", @Placeholder = "Mobile No", @maxlength = "10", @onkeypress = "return validNumber(event);" })
                                    </div>
                                    <div class="d-grid mb20">
                                        @*<button class="ud-btn btn-thm" type="button">Sign in <i class="fal fa-arrow-right-long"></i></button>*@
                                        <input type="button" id="GetOtp" class="ud-btn btn-thm" name="GetOtp" value="Get Password" onclick="return sendOTP();" />

                                     
                                    </div>

                                    <div class="hr_content mb20">
                                        <a style="color: #413b34;font-size: 16px;font-weight: 500;" href="/Home/Login/">Back To Login</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </section>
            <a class="scrollToHome" href="#"><i class="fas fa-angle-up"></i></a>
        </div>
    </div>
    <!-- Wrapper End -->
    <script src="/Website/js/jquery-3.6.4.min.js"></script>
    <script src="/Website/js/jquery-migrate-3.0.0.min.js"></script>
    <script src="/Website/js/popper.min.js"></script>
    <script src="/Website/js/bootstrap.min.js"></script>
    <script src="/Website/js/jquery-scrolltofixed-min.js"></script>
    <script src="/Website/js/wow.min.js"></script>
    <!-- Custom script for all pages -->
    <script src="/Website/js/script.js"></script>


    <script>

    function sendOTP() {
        $(".errortext").removeClass("errortext");

        if ($('#LoginId').val() == '' && $('#MobileNo').val() == '') {
            alert('Please Enter Login Id or Mobile No');
            return false;
        }

        $.ajax({
            url: "/Home/GetPassword",
            Type: "Get",
            DataType: "JSON",
            data: { LoginId: $("#LoginId").val(), MobileNo: $("#MobileNo").val() },
            success: function (data) {
                if (data.Response == "1") {
                    // $("#UserType").val(data.UserType)
                    $("#LoginId").val(data.LoginId);
                    $("#MobileNo").val(data.MobileNo);
                    $("#LoginId").val('');
                    $('#MobileNo').val('');
                    alert("OTP is sent on your registered mobile no.");
                }
                else {
                    $("#divOTP").hide();
                    $("#divSubmit").hide();
                    alert(data.Status1);
                    $("#LoginId").val('');
                    $('#MobileNo').val('');
                }
            }
        });
    }

    function validateOTP() {
        $(".errortext").removeClass("errortext");
        if ($('#OTP').val() == '') {
            $("#OTP").addClass('errortext');
            $('#OTP').focus();
            return false;
        }

        if ($("#OTP").val() == $("#hdOTP").val()) {
            $.ajax({
                url: "/Home/GetPassword",
                Type: "Get",
                DataType: "JSON",
                data: { LoginId: $("#LoginId").val(), MobileNo: $("#MobileNo").val() },
                success: function (data) {
                    if (data.Response == "1") {
                        alert("Password is sent on your registered mobile no.");
                        $("#divOTP").hide();
                        $("#divSubmit").hide();
                        $("#UserType").val('');
                        $("#LoginId").val('');
                        $("#MobileNo").val('');
                        $("#divlogipbtn").show();
                        $("#UserTypediv").show();
                        $("#LoginIddiv").show();
                        $("#MobileNodiv").show();
                        $("#divotpbtn").show();
                        $("#divlogipbtn").show();
                        //     $("#UserType").val(data.UserType);
                    }
                    else {
                        alert(data.Response);
                    }
                }
            });
        }
        else {
            alert("Invalid OTP..");
            $("#OTP").focus();
            $("#OTP").val('');
        }
    }

    function validNumber(event) {
        var key = window.event ? event.keyCode : event.which;
        if (event.keyCode === 8 || event.keyCode === 45) {
            return true;
        } else if (key < 48 || key > 57) {
            return false;
        } else {
            return true;
        }
    }
    </script>




</body>
</html>






















