<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="author" content="Themezhub" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Om Prabha</title>

    <!-- Custom CSS -->
    <link href="~/webAssets/css/styles.css" rel="stylesheet">

</head>

<body class="yellow-skin">

    <!-- loader start -->
    <div class="preloader"></div>
    <!-- loader end -->
    <!-- wrapper start here -->
    <div id="main-wrapper">
        <!-- Topbar -->
        <div class="top-header">
            <div class="container">
                <div class="row">

                    <div class="col-lg-6 col-md-6">
                        <div class="cn-info">
                            <ul>
                                <li><i class="lni-phone-handset"></i>91 7310000413</li>
                                <li><i class="ti-email"></i>support@omprabha.com</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <ul class="top-social">
                            <li><a href="#"><i class="lni-facebook"></i></a></li>
                            <li><a href="#"><i class="lni-linkedin"></i></a></li>
                            <li><a href="#"><i class="lni-instagram"></i></a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <!-- Start Navigation -->

        <div class="header header-light">
            <div class="container">
                <nav id="navigation" class="navigation navigation-landscape">
                    <div class="nav-header">
                        <a class="nav-brand" href="/Website/Index">
                            <img src="~/webAssets/img/Afluex.png" class="logo" alt="" />
                        </a>
                        <div class="nav-toggle"></div>
                        <div class="mobile_nav">
                            <ul>
                                <li class="_my_prt_list"><a href="/Website/ContactUs" class="btn-warning p-2 rounded text-white">Contact Us</a></li>
                                <li>
                                    <a href="#" class="btn-success rounded text-white" style="padding:11px 14px!important;" data-bs-toggle="modal" data-bs-target="#login"> Login
                                        @*<i class="fas fa-user-circle fa-lg"></i>*@
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="nav-menus-wrapper" style="transition-property: none;">
                        <ul class="nav-menu m-auto">
                            <li><a href="~/Website/Index">Home</a></li>
                            <li><a href="~/Website/Property">Property</a></li>
                            <li><a href="~/Website/About">About Us</a></li>
                            <li><a href="~/Website/EventGallery">Our Gallery</a></li>
                            <li><a href="~/Website/OurTeam">Our Team</a></li>
                        </ul>

                        <ul class="nav-menu nav-menu-social align-to-right">
                            <li class="add-listing">
                                <a href="#" class="alio_green" data-bs-toggle="modal" data-bs-target="#login">
                                    <i class="fas fa-sign-in-alt me-1"></i><span class="dn-lg">Sign In</span>
                                </a>
                                @*<a href="/Home/login" class="alio_green">
                                        <i class="fas fa-sign-in-alt me-1"></i><span class="dn-lg">Sign In</span>
                                    </a>*@
                            </li>
                            <li class="add-listing">
                                <a href="~/Website/ContactUs" class="bg-danger">
                                    <i class="fas fa-plus-circle me-1"></i>Contact Us
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!-- End Navigation -->
        <div class="clearfix"></div>
        <!-- Top header  -->

        @RenderBody()

    </div>
    <!-- End Wrapper -->
    <!-- ============================ Footer Start ================================== -->
    <footer class="dark-footer skin-dark-footer style-2">
        <div class="footer-middle">
            <div class="container">
                <div class="row">

                    <div class="col-lg-4 col-md-4">
                        <div class="footer_widget">
                            <img src="~/webAssets/img/Afluex.png" class="img-footer mb-3 rounded" alt="" />
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum eos officiis
                                aspernatur qui nemo quis dolore similique ut nihil consectetur.
                            </p>
                            <div class="foot-news-last mt-4">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Email Address">
                                    <div class="input-group-append">
                                        <button type="button"
                                                class="btn btn-danger b-0 text-light">
                                            Subscribe
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-8 col-md-8 ms-auto">
                        <div class="row">

                            <div class="col-lg-3 col-md-3">
                                <div class="footer_widget">
                                    <h4 class="widget_title">Quick Links</h4>
                                    <ul class="footer-menu">
                                        <li><a href="index.html">Home</a></li>
                                        <li><a href="about.html">About</a></li>
                                        <li><a href="team.html">Our Team</a></li>
                                        <li><a href="gallery.html">Gallery</a></li>
                                        <li><a href="newsAndevents.html">News And Events</a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-3">
                                <div class="footer_widget">
                                    <h4 class="widget_title">Quick Links</h4>
                                    <ul class="footer-menu">
                                        <li><a href="index.html">Home</a></li>
                                        <li><a href="about.html">About</a></li>
                                        <li><a href="team.html">Our Team</a></li>
                                        <li><a href="gallery.html">Gallery</a></li>
                                        <li><a href="newsAndevents.html">News And Events</a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6">
                                <div class="footer_widget">
                                    <h4 class="widget_title">Location</h4>
                                    <ul class="footer-menu my_footer">
                                        <li>
                                            <i class="fa fa-home" aria-hidden="true"></i>
                                            <a href="#">
                                                D- 54, Arjun Tower, Vibhooti Khand Gomati Nagar, Lucknow.
                                            </a>
                                        </li>
                                        <li>
                                            <i class="fa fa-phone" aria-hidden="true"></i>
                                            <a href="tel:+91 7310000413">
                                                +91 7310000413
                                            </a>
                                        </li>
                                        <li>
                                            <i class="fa fa-envelope" aria-hidden="true"></i>
                                            <a href="maito:omprabha@gmail.com">
                                                omprabha@gmail.com
                                            </a>
                                        </li>
                                        <li>
                                            <i class="fa fa-globe" aria-hidden="true"></i>
                                            <a href="#!">
                                                www.omprabha.com
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-bottom">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-12 col-md-12 text-center">
                        <p class="mb-0">
                            © 2024 All Right Reserved OmPrabha. Designd By <a href="https://afluex.com/web/software-development">Afluex Multiservices LLP</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ============================ Footer End ================================== -->
    <!-- Send Message -->
    <div class="modal fade" id="autho-message" tabindex="-1" role="dialog" aria-labelledby="authomessage"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered login-pop-form" role="document">
            <div class="modal-content" id="authomessage">
                <span class="mod-close" data-bs-dismiss="modal" aria-hidden="true"><i class="ti-close"></i></span>
                <div class="modal-body">
                    <h4 class="modal-header-title">Drop Message</h4>
                    <div class="login-form">
                        <form>

                            <div class="form-group mb-3">
                                <label>Subject</label>
                                <div class="input-with-icons">
                                    <input type="text" class="form-control" placeholder="Message Title">
                                </div>
                            </div>

                            <div class="form-group mb-3">
                                <label>Messages</label>
                                <div class="input-with-icons">
                                    <textarea class="form-control ht-80"></textarea>
                                </div>
                            </div>

                            <div class="form-group">
                                <button type="submit" class="btn full-width fw-medium btn-danger">
                                    Send
                                    Message
                                </button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Modal -->

    <a id="back2Top" class="top-scroll" title="Back to top" href="#"><i class="ti-arrow-up"></i></a>


    @*</div>*@
    <!-- End Wrapper -->



    <script src="~/webAssets/js/jquery.min.js"></script>
    <script src="~/webAssets/js/popper.min.js"></script>
    <script src="~/webAssets/js/bootstrap.min.js"></script>
    <script src="~/webAssets/js/ion.rangeSlider.min.js"></script>
    <script src="~/webAssets/js/select2.min.js"></script>
    <script src="~/webAssets/js/jquery.magnific-popup.min.js"></script>
    <script src="~/webAssets/js/slick.js"></script>
    <script src="~/webAssets/js/slider-bg.js"></script>
    <script src="~/webAssets/js/lightbox.js"></script>
    <script src="~/webAssets/js/imagesloaded.js"></script>
    <script src="~/webAssets/js/daterangepicker.js"></script>
    <script src="~/webAssets/js/custom.js"></script>

    <script>
        $('.home-slider').slick({
            centerMode: false,
            slidesToShow: 1,
            responsive: [
				{
				    breakpoint: 768,
				    settings: {
				        arrows: true,
				        slidesToShow: 1
				    }
				},
				{
				    breakpoint: 480,
				    settings: {
				        arrows: false,
				        slidesToShow: 1
				    }
				}
            ]
        });
    </script>

</body>

</html>


