<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <title>OM PRABHA INFRATECH PVT. LTD.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon Start Here -->
    <link rel="shortcut icon" type="image/x-icon" href="~/AssetsWeb/img/favicon.png">
    <!-- Bootstrap Css Start Here -->
    <link rel="stylesheet" href="~/AssetsWeb/css/bootstrap.min.css">
    <!-- Animate Css Start Here -->
    <link rel="stylesheet" href="~/AssetsWeb/css/animate.min.css">
    <!-- Owl Carousel Start Here -->
    <link rel="stylesheet" href="~/AssetsWeb/vendor/owlcarousel/owl.carousel.min.css">
    <link rel="stylesheet" href="~/AssetsWeb/vendor/owlcarousel/owl.theme.default.min.css">
    <!-- Swiper Css Start Here -->
    <link rel="stylesheet" href="~/AssetsWeb/css/swiper-bundle.min.css" />
    <!-- Flaticon Css Start Here -->
    <link rel="stylesheet" href="~/AssetsWeb/css/flaticon/font/flaticon.css">
    <!-- Select Css Start Here -->
    <link rel="stylesheet" href="~/AssetsWeb/css/nice-select.css">
    <!-- Animate Css Start Here -->
    <link rel="stylesheet" href="~/AssetsWeb/css/animate.min.css">
    <!-- Pop Up Css Start Here -->
    <link rel="stylesheet" href="~/AssetsWeb/css/magnific-popup.css">
    <!-- All min Css Start Here -->
    <link rel="stylesheet" href="~/AssetsWeb/css/all.min.css">
    <!-- Pannellum -->
    <link rel="stylesheet" href="~/AssetsWeb/css/pannellum.css">
    <!-- Style Css Start Here -->
    <link rel="stylesheet" href="~/AssetsWeb/style.css">
    <!-- Google Font Start Here -->
    <link crossorigin
          href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&amp;family=Ubuntu:wght@400;500;700&amp;display=swap"
          rel="stylesheet">
    <link crossorigin href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&amp;display=swap"
          rel="stylesheet">
</head>

<body class="sticky-header">

    @*<div id="preloader"></div>*@


    <div class="wrapper" id="wrapper">

        <!--=====================================-->
        <!--=   Header     Start                =-->
        <header class="header">
            <div id="rt-sticky-placeholder"></div>
            <div id="header-menu" class="header-menu menu-layout1 header-menu menu-layout2">
                <div class="container">
                    <div class="row d-flex align-items-center">
                        <div class="col-xl-2 col-lg-2">
                            <div class="logo-area">
                                <a href="/Website/Index" class="temp-logo">
                                    <img src="~/AssetsWeb/img/logo.png" width="157" height="40" alt="logo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-7 d-flex justify-content-center position-static">
                            <nav id="dropdown" class="template-main-menu template-main-menu-2">
                                <ul>
                                    <li>
                                        <a href="/Website/Index">Home</a>
                                    </li>
                                    <li>
                                        <a href="/Website/About">About Us</a>
                                    </li>
                                    <li>
                                        <a href="/Website/Property">Property</a>
                                    </li>
                                    <li>
                                        <a href="/Home/PlotAvailability">Plot Availability</a>
                                    </li>
                                    <li>
                                        <a href="/Website/OurTeam">Our Team</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="col-xl-4 col-lg-3 d-flex justify-content-center">
                            <div class="header-action-layout1 header-action-layout4">
                                <ul class="action-list">
                                    <li class="listing-button" style="margin-right: 10px;">
                                        <a href="/Home/Login" class="listing-btn" style="background:#2bbcf1">
                                            <span>
                                                <i class="flaticon-user-1 icon-round"></i>
                                            </span>
                                            <span class="item-text" style="background:#2bbcf1">Login</span>
                                        </a>
                                    </li>
                                    <li class="listing-button">
                                        <a href="/Website/ContactUs" class="listing-btn">
                                            <span>
                                                <i class="fas fa-phone-alt"></i>
                                            </span>
                                            <span class="item-text">Contact Us</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div class="rt-header-menu mean-container position-relative" id="meanmenu">
            <div class="mean-bar">
                <a href="/Website/Index">
                    <img src='~/AssetsWeb/img/logo.png' alt='logo' class='img-fluid' />
                </a>
                <div class="mean-bar--right">
                    <div class="actions user">
                        <a href="/Home/Login" class="btn" style="margin-right:10px; font-size:18px; background:#138ad2">
                           Login
                        </a>
                    </div>
                    <span class="sidebarBtn">
                        <span class="bar"></span>
                        <span class="bar"></span>
                        <span class="bar"></span>
                        <span class="bar"></span>
                    </span>
                </div>
            </div>
            <div class="rt-slide-nav">
                <div class="offscreen-navigation">
                    <nav class="menu-main-primary-container">
                        <ul class="menu">
                            <li class="list menu-item-parent">
                                <a class="animation" href="/Website/Index">Home</a>
                            </li>
                            <li class="list menu-item-parent">
                                <a class="animation" href="/Website/About">About Us</a>
                            </li>
                            <li class="list menu-item-parent">
                                <a class="animation" href="/Website/Property">Property</a>
                            </li>
                            <li class="list menu-item-parent">
                                <a class="animation" href="/Home/PlotAvailability">Plot Availability</a>
                            </li>
                            <li class="list menu-item-parent">
                                <a class="animation" href="/Website/OurTeam">Our Team</a>
                            </li>
                            <li class="list menu-item-parent">
                                <a class="animation" href="/Website/ContactUs">Contact</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

        @RenderBody()

        <footer class="footer-area">
            <div class="footer-top footer-top-style">
                <div class="container">
                    <div class="row justify-content-between">
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                            <div class="footer-logo-area footer-logo-area-2">
                                <div class="item-logo">
                                    <img src="~/AssetsWeb/img/logo-light.png" width="157" height="40" alt="logo" class="img-fluid">
                                </div>
                                <p>
                                    Welcome to OM PRABHA INFRATECH PVT. LTD., where we redefine the landscape of real estate with innovation, integrity, and excellence. Established with a vision to craft spaces that inspire and endure,
                                </p>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6">
                            <div class="footer-link footer-link-style-2">
                                <div class="footer-title footer-title-style2">
                                    <h3>Quick Links</h3>
                                </div>
                                <div class="item-link">
                                    <ul>
                                        <li><a href="/Website/Index">Home </a></li>
                                        <li><a href="/Website/About">About Us </a></li>
                                        <li><a href="/Website/Property">Property</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                            <div class="footer-link footer-link-style-2">
                                <div class="footer-title footer-title-style2">
                                    <h3>Quick Links</h3>
                                </div>
                                <div class="item-link">
                                    <ul>
                                        <li><a href="/Website/ContactUs">Contact Us </a></li>
                                        <li><a href="/Website/OurTeam">Team </a></li>
                                        <li><a href="/Website/Property">Property</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                            <div class="footer-contact footer-contact-style-2">
                                <div class="footer-title footer-title-style2">
                                    <h3>Contact</h3>
                                </div>
                                <div class="footer-location">
                                    <ul>
                                        <li class="item-map">
                                            <i class="fas fa-map-marker-alt"></i>1/163, Vibhav Khand,
                                            Near Mantri Awas, Gomti Nagar, Lucknow - 226010
                                        </li>
                                        <li>
                                            <a href="mailto: omprabhainfratech.pvt.ltd@gmail.com">
                                                <i class="fas fa-envelope"></i>
                                                omprabhainfratech.pvt.ltd@gmail.com
                                            </a>
                                        </li>
                                        <li>
                                            <a href="tel:+91 9119966928 ">
                                                <i class="fas fa-phone-alt"></i>+91
                                                9119966928
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom footer-bottom-style-2">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-6 col-md-6">
                            <div class="copyright-area1">
                                <ul>
                                    <li>
                                        <span class="text-white">© copyright </span> <a href="#!" target="_blank"
                                                                                        class="text-white d-inline-block">
                                            omprabhainfratech pvt.
                                            ltd.
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="copyright-area2">
                                <p>2024 All rights reserved </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>








        <!-- start back to top -->
        <a href="javascript:void(0)" id="back-to-top">
            <i class="fas fa-angle-double-up"></i>
        </a>
        <!-- End back to top -->

    </div>


    <script src="~/AssetsWeb/js/jquery-3.6.0.min.js"></script>
    <!-- Popper Js Start Here -->
    <script src="~/AssetsWeb/js/popper.min.js"></script>
    <!-- Bootstrap Js Start Here -->
    <script src="~/AssetsWeb/js/bootstrap.min.js"></script>
    <!-- Wow Js Start Here -->
    <script src="~/AssetsWeb/js/wow.min.js"></script>
    <!-- Owl Carousel Js Start Here -->
    <script src="~/AssetsWeb/vendor/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/AssetsWeb/js/swiper-bundle.min.js"></script>
    <!-- Count down Js Start Here -->
    <script src="~/AssetsWeb/js/jquery.appear.min.js"></script>
    <!-- Pop up Js Start Here -->
    <script src="~/AssetsWeb/js/jquery.magnific-popup.min.js"></script>
    <!-- Nice Select Js Start Here -->
    <script src="~/AssetsWeb/js/jquery.nice-select.min.js"></script>
    <!-- Parallaxie Js Start Here -->
    <script src="~/AssetsWeb/js/parallaxie.js"></script>
    <!-- Tween Js Start Here -->
    <script src="~/AssetsWeb/js/tween-max.js"></script>
    <!-- Appear Js Start Here -->
    <script src="~/AssetsWeb/js/appear.min.js"></script>
    <!-- Isotope Js Start Here -->
    <script src="~/AssetsWeb/js/isotope.pkgd.min.js"></script>
    <!-- Imagesloaded Js Start Here -->
    <script src="~/AssetsWeb/js/imagesloaded.pkgd.min.js"></script>
    <!-- noUiRangeSlider -->
    <script src="~/AssetsWeb/vendor/noUiSlider/nouislider.min.js"></script>
    <script src="~/AssetsWeb/vendor/noUiSlider/wNumb.js"></script>
    <!-- Validator Slider -->
    <script src="~/AssetsWeb/js/validator.min.js"></script>
    <!-- Pannellum  -->
    <script src="~/AssetsWeb/js/pannellum.js"></script>
    <!-- Zoom Image  -->
    <script src="~/AssetsWeb/js/jquery.zoom.min.js"></script>

    <!-- Main Js Start Here -->
    <script src="~/AssetsWeb/js/main.js"></script>
</body>

</html>