
@{
    ViewBag.Title = "OurTeam";
    Layout = "~/Views/Shared/WebsiteLayout.cshtml";
}


<div class="breadcrumb-wrap">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/Website/Index">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Our Team</li>
            </ol>
        </nav>
    </div>
</div>

<section class="team-wrap1">
    <div class="container">
        <div class="item-heading-center mb-20">
            <span class="section-subtitle">Expertise Is Here</span>
            <h2 class="section-title">Our Exclusive Agetns</h2>
            <div class="bg-title-wrap" style="display: block;">
                <span class="background-title solid">Our Agents</span>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="team-box1 shadow wow fadeInUp" data-wow-delay=".6s">
                    <div class="item-img">
                        <a href="#!">
                            <img src="~/AssetsWeb/img/team/team17.png" alt="team" width="475" height="511">
                        </a>
                    </div>
                    <div class="item-content text-center">
                        <div class="item-title">
                            <h3><a href="#!">Rahul Jaste</a></h3>
                            <h4 class="item-subtitle"><a href="#!">Manager</a></h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="team-box1 shadow wow fadeInUp" data-wow-delay=".4s">
                    <div class="item-img">
                        <a href="#!">
                            <img src="~/AssetsWeb/img/team/team18.png" alt="team" width="475" height="511">
                        </a>
                    </div>
                    <div class="item-content text-center">
                        <div class="item-title">
                            <h3><a href="#!">Rahul Jaste</a></h3>
                            <h4 class="item-subtitle"><a href="#!">Manager</a></h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="team-box1 shadow wow fadeInUp" data-wow-delay=".6s">
                    <div class="item-img">
                        <a href="#!">
                            <img src="~/AssetsWeb/img/team/team17.png" alt="team" width="475" height="511">
                        </a>
                    </div>
                    <div class="item-content text-center">
                        <div class="item-title">
                            <h3><a href="#!">Rahul Jaste</a></h3>
                            <h4 class="item-subtitle"><a href="#!">Manager</a></h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="team-box1 shadow wow fadeInUp" data-wow-delay=".4s">
                    <div class="item-img">
                        <a href="#!">
                            <img src="~/AssetsWeb/img/team/team18.png" alt="team" width="475" height="511">
                        </a>
                    </div>
                    <div class="item-content text-center">
                        <div class="item-title">
                            <h3><a href="#!">Rahul Jaste</a></h3>
                            <h4 class="item-subtitle"><a href="#!">Manager</a></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="contact-wrap" id="contact">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 card shadow">
                <div class="contact-box2 p-4">
                    <div class="contact-content" style="margin-left:0px">
                        <h3 class="contact-title">Enquire Now</h3>
                        <p>
                            Enquire now and discover how we can meet your needs and exceed your expectations.
                        </p>
                        <form class="contact-box rt-contact-form">
                            <div class="row">
                                <div class="form-group col-lg-4">
                                    <label>Name *</label>
                                    <input type="text" class="form-control" name="fname" placeholder="Name*">
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Phone *</label>
                                    <input type="text" class="form-control" name="phone" placeholder="Phone*">
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Email *</label>
                                    <input type="text" class="form-control" name="phone" placeholder="Email*">
                                </div>
                                <div class="form-group col-lg-12">
                                    <label>Message *</label>
                                    <textarea name="comment" id="message" class="form-text"
                                              placeholder="Message" cols="30" rows="5"></textarea>
                                </div>
                                <div class="form-group col-lg-3 m-auto">
                                    <button type="submit" class="item-btn">Send message</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>