@{
    Layout = "~/Views/Shared/WebsiteLayout.cshtml";
}


<!-- Start Page Banner Area -->
<div class="page-banner-area">
    <div class="container">
        <div class="page-banner-content wow animate__animated animate__fadeInLeft" data-wow-delay="300ms" data-wow-duration="2000ms">
            <h2>Our Property</h2>
            <ul>
                <li>
                    <a href="~/Website/Index">Home</a>
                </li>
                <li>Property</li>
            </ul>
        </div>
    </div>

    <div class="page-banner-image wow animate__animated animate__fadeInRightight" data-wow-delay="300ms" data-wow-duration="2000ms">
        <img src="/WebsiteCss/assets/images/page-banner.png" alt="image">
    </div>
</div>
<!-- End Page Banner Area -->
<!-- Start Featured Area -->
<div class="featured-area ptb-100">
    <div class="container">
        <div class="section-title">
            <h3>Our Properties</h3>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="featured-item bottom-30">
                    <div class="featured-image">
                        <img src="/WebsiteCss/assets/images/main-slides/banner_1.jpg" class="project_img" alt="image">
                    </div>

                    <div class="featured-top-content">
                        <span>Lucknow, Uttar Pradesh</span>
                        <h3>
                            Plot (Lucknow)
                        </h3>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="featured-item bottom-30">
                    <div class="featured-image">
                        <img src="/WebsiteCss/assets/images/main-slides/banner_2.jpg" class="project_img" alt="image">
                    </div>

                    <div class="featured-top-content">
                        <span>Lucknow, Uttar Pradesh</span>
                        <h3>
                            Plot (Lucknow)
                        </h3>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="featured-item bottom-30">
                    <div class="featured-image">
                        <img src="/WebsiteCss/assets/images/main-slides/banner_3.jpg" class="project_img" alt="image">
                    </div>
                    <div class="featured-top-content">
                        <span>Lucknow, Uttar Pradesh</span>
                        <h3>
                            Plot (Lucknow)
                        </h3>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="featured-item bottom-30">
                    <div class="featured-image">
                        <img src="/WebsiteCss/assets/images/main-slides/banner_4.jpg" class="project_img" alt="image">
                    </div>

                    <div class="featured-top-content">
                        <span>Lucknow, Uttar Pradesh</span>
                        <h3>
                            Plot (Lucknow)
                        </h3>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="featured-item bottom-30">
                    <div class="featured-image">
                        <img src="/WebsiteCss/assets/images/main-slides/banner_5.jpg" class="project_img" alt="image">
                    </div>

                    <div class="featured-top-content">
                        <span>Lucknow, Uttar Pradesh</span>
                        <h3>
                            Plot (Lucknow)
                        </h3>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="featured-item bottom-30">
                    <div class="featured-image">
                        <img src="/WebsiteCss/assets/images/main-slides/banner_6.jpg" class="project_img" alt="image">
                    </div>

                    <div class="featured-top-content">
                        <span>Lucknow, Uttar Pradesh</span>
                        <h3>
                            Plot (Lucknow)
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Featured Area -->

