@model OmPrabha.Models.Website

@{
    ViewBag.Title = "Company Profile";
    Layout = "~/Views/Shared/WebsiteLayout.cshtml";
}


<div class="breadcrumb-wrap">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/Website/Index">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">About Us</li>
            </ol>
        </nav>
    </div>
</div>

<section class="about-wrap2" id="overview">
    <div class="container">
        <div class="row flex-row-reverse flex-lg-row">
            <div class="col-xl-6 col-lg-6">
                <div class="about-img">
                    <img src="~/AssetsWeb/img/about.jpg" alt="about" width="746" height="587">
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="about-box3 wow fadeInUp" data-wow-delay=".2s">
                    <span class="item-subtitle">Overview</span>
                    <h2 class="item-title">About OmPrabha</h2>
                    <p class="mb-2">
                        Welcome to OM PRABHA INFRATECH PVT. LTD., where we redefine the landscape of real estate with innovation, integrity, and excellence. Established with a vision to craft spaces that inspire and endure, we are committed to delivering unparalleled quality and value to our clients.
                    </p>
                    <p class="mb-2">
                        At OM PRABHA INFRATECH, we believe in the power of imagination to shape the world around us. With a team of dedicated professionals and industry experts, we embark on a journey to create living spaces that transcend expectations and enrich lives. Whether it's residential, commercial, or mixed-use developments, our projects are meticulously planned and executed to reflect our unwavering commitment to excellence.
                    </p>
                    <p>
                        Integrity is the cornerstone of our ethos at OM PRABHA INFRATECH. We conduct our business with honesty, transparency, and fairness, fostering trust and confidence among our clients, partners, and stakeholders. Our unwavering adherence to ethical principles ensures that every interaction with us is characterized by integrity and professionalism.
                    </p>
                </div>
            </div>

        </div>
        <div class="row flex-row flex-lg-row-reverse">
            <div class="col-xl-6 col-lg-6">
                <div class="about-layout3">
                    <div class="item-img">
                        <img src="~/AssetsWeb/img/blog/about9.jpg" alt="about" width="809" height="587">
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="about-layout2">
                    <span class="item-subtitle">Company Power</span>
                    <h2 class="item-title">The Core Company Values Of Our main Goal.</h2>
                    <p>
                        when an unknown printer took a galley of type and scrambled it to make
                        type specimen bookt has survived.
                    </p>
                    <div class="skills-wrap-layout-2 counter-appear">
                        <div class="single-skill">
                            <div class="title-bar">
                                <h4 class="title"> Modern Technology </h4>

                            </div>
                            <div class="skill-bar">
                                <div class="skill-per" data-per="59%" style="width: 59%;"></div>
                            </div>
                        </div>

                        <div class="single-skill">
                            <div class="title-bar">
                                <h4 class="title">Tax Solution Area</h4>

                            </div>
                            <div class="skill-bar">
                                <div class="skill-per" data-per="79%" style="width: 79%;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="banner-collection1 motion-effects-wrap" data-wow-delay=".2s">
    <div class="shape-img1">
        <img src="~/AssetsWeb/img/svg/video-bg-2.svg" alt="figure" height="149" width="230">
    </div>
    <div class="shape-img2">
        <img src="~/AssetsWeb/img/svg/video-bg-2.svg" alt="figure" height="149" width="230">
    </div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-8 col-md-7">
                <div class="banner-box1">
                    <div class="item-img">
                        <img src="~/AssetsWeb/img/banner/banner1.png" alt="banner" height="252" width="169" class="img-bg-space">
                        <div class="motion-effects3" style="transform: matrix(1, 0, 0, 1, 13.5218, -10.8691);"><img src="~/AssetsWeb/img/figure/shape3.png" alt="shape" height="113" width="113"></div>
                        <div class="motion-effects4" style="transform: matrix(1, 0, 0, 1, 4.50726, -3.62305);"><img src="~/AssetsWeb/img/figure/shape4.png" alt="shape" height="157" width="154"></div>
                        <div class="motion-effects5" style="transform: matrix(1, 0, 0, 1, 13.5218, -10.8691);"><img src="~/AssetsWeb/img/figure/shape5.png" alt="shape" height="91" width="102"></div>
                    </div>
                    <div class="item-content">
                        <h2 class="heading-title">Become a Real Estate Agent</h2>
                        <p>We only work with the best companies around the globe to survey</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-5">
                <div class="banner-button">
                    <a href="/Website/ContactUs" class="banner-btn">Register Now</a>
                </div>
            </div>
        </div>
    </div>
</section>