@{
    Layout = "~/Views/Shared/WebsiteLayout.cshtml";
}

<div class="breadcrumb-wrap">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/Website/Index">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Our Properties</li>
            </ol>
        </nav>
    </div>
</div>

<section class="property-wrap1 property-wrap-10">
    <div class="container">
        <div class="item-heading-center">
            <span class="section-subtitle">OUR PROPERTIES</span>
            <h2 class="section-title">Our Featured Properties</h2>
            <div class="bg-title-wrap" style="display: block">
                <span class="background-title solid">Properties</span>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="property-box2 wow  fadeInUp animated" data-wow-delay=".3s"
                     style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                    <div class="item-img">
                        <a href="#!">
                            <img src="~/AssetsWeb/img/property/01.jpg" alt="blog" width="510"
                                 height="340">
                        </a>
                    </div>
                    <div class="item-category10">
                        <a href="#!">Ploat</a>
                    </div>
                    <div class="item-content">
                        <div class="verified-area">
                            <h3 class="item-title">
                                <a href="#!">Family House For Sell</a>
                            </h3>
                        </div>
                        <div class="location-area">
                            <i class="flaticon-maps-and-flags"></i>Lucknow
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="property-box2 wow  fadeInUp animated" data-wow-delay=".2s"
                     style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                    <div class="item-img">
                        <a href="#!">
                            <img src="~/AssetsWeb/img/property/02.jpg" alt="blog" width="510"
                                 height="340">
                        </a>
                    </div>
                    <div class="item-category10">
                        <a href="#!">Ploat</a>
                    </div>
                    <div class="item-content">
                        <div class="verified-area">
                            <h3 class="item-title">
                                <a href="#!">Family House For Sell</a>
                            </h3>
                        </div>
                        <div class="location-area">
                            <i class="flaticon-maps-and-flags"></i>Lucknow
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="property-box2 wow  fadeInUp animated" data-wow-delay=".1s"
                     style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                    <div class="item-img">
                        <a href="#!">
                            <img src="~/AssetsWeb/img/property/03.jpg" alt="blog" width="510"
                                 height="340">
                        </a>
                    </div>
                    <div class="item-category10">
                        <a href="#!">Ploat</a>
                    </div>
                    <div class="item-content">
                        <div class="verified-area">
                            <h3 class="item-title">
                                <a href="#!">Family House</a>
                            </h3>
                        </div>
                        <div class="location-area">
                            <i class="flaticon-maps-and-flags"></i>Lucknow
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="property-box2 wow  fadeInUp animated" data-wow-delay=".3s"
                     style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                    <div class="item-img">
                        <a href="#!">
                            <img src="~/AssetsWeb/img/property/04.jpg" alt="blog" width="510"
                                 height="340">
                        </a>
                    </div>
                    <div class="item-category10">
                        <a href="#!">Ploat</a>
                    </div>
                    <div class="item-content">
                        <div class="verified-area">
                            <h3 class="item-title">
                                <a href="#!">Family House For Sell</a>
                            </h3>
                        </div>
                        <div class="location-area">
                            <i class="flaticon-maps-and-flags"></i>Lucknow
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="property-box2 wow  fadeInUp animated" data-wow-delay=".6s"
                     style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
                    <div class="item-img">
                        <a href="#!">
                            <img src="~/AssetsWeb/img/property/05.jpg" alt="blog" width="510"
                                 height="340">
                        </a>
                    </div>
                    <div class="item-category10">
                        <a href="#!">Ploat</a>
                    </div>
                    <div class="item-content">
                        <div class="verified-area">
                            <h3 class="item-title">
                                <a href="#!">Family House For Sell</a>
                            </h3>
                        </div>
                        <div class="location-area">
                            <i class="flaticon-maps-and-flags"></i>Lucknow
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="property-box2 wow  fadeInUp animated" data-wow-delay=".2s"
                     style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                    <div class="item-img">
                        <a href="#!">
                            <img src="~/AssetsWeb/img/property/06.jpg" alt="blog" width="510"
                                 height="340">
                        </a>
                    </div>
                    <div class="item-category10">
                        <a href="#!">Ploat</a>
                    </div>
                    <div class="item-content">
                        <div class="verified-area">
                            <h3 class="item-title">
                                <a href="#!">Family House</a>
                            </h3>
                        </div>
                        <div class="location-area">
                            <i class="flaticon-maps-and-flags"></i>Lucknow
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="property-button">
            <a href="#!" class="item-btn">View All Properties</a>
        </div>
    </div>
</section>

